@import "https://unpkg.com/open-props";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   background-image: var(--gradient-7);
   font-family: var(--font-sans);
   display: grid;
   height: 100%;
   place-items: center;
}

section {
   margin-top: var(--size-2);
   padding: var(--size-5);
   background: var(--gray-1);
   border-radius: var(--radius-2);
   text-align: center;
   box-shadow: var(--shadow-3);
}

#description {
   font-style: italic;
}

#text-input {
   padding: var(--size-1);
   text-indent: var(--size-1);
   width: 90%;
   border-radius: var(--radius-2);
}

h1,
p,
input,
button {
   margin-bottom: var(--size-4);
}

h1 {
   font-size: var(--font-size-6);
   font-weight: var(--font-weight-9);
}

button {
   font-weight: var(--font-weight-7);
   padding: var(--size-2);
   color: var(--blue-9);
}
