@import 'https://unpkg.com/open-props';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-image: var(--gradient-7);
  display: grid;
  font-family: var(--font-sans);
  font-size: var(--font-size-4);
  height: 100%;
  place-items: center;
}

section {
  background: var(--gray-1);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-3);
  padding: var(--size-5);
  text-align: center;
}

#description {
  font-style: italic;
}

#text-input {
  border-radius: var(--radius-2);
  padding: var(--size-1);
  text-indent: var(--size-1);
  width: 90%;
}

h1,
p,
input,
button {
  margin-bottom: var(--size-4);
}

h1 {
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-9);
}

button {
  color: var(--blue-9);
  font-weight: var(--font-weight-7);
  padding: var(--size-2);
}
